@model User

<div style="border:1px solid grey;direction:rtl;font-family:IRANSansWeb(FaNum)">
    <h2>کاربر عزیز @Model.UserName !</h2>
    <p>برای فعالسازی حساب کاربری خود میبایست روی لینک  زیر کلیک نمایید<br />از ان پس میتوانید وارد حساب کاربری خود شوید</p>
    <a href="http://localhost:28503/ActiveAccount/@Model.ActiveCode">فعالسازی حساب کاربری</a>
</div>
