@model ChangeUserPasswordViewModel
@{
    ViewData["Title"] = "ChangeUserPassword";
}

<main>
    <div class="container">
        <div class="user-account">
            <form asp-action="ChangeUserPassword" method="post" enctype="multipart/form-data">
                <div class="row">
                    <div class="col-md-3 col-sm-4 col-xs-12">
                        <partial name="_SideBar" />
                    </div>
                    <div class="col-md-8">
                        <section class="user-account-content">
                            @if (ViewBag.IsChanged == true)
                            {
                                <div class="alert alert-success">
                                    رمز عبور شما با موفقیت تغییر یافت از این پس با این رمز عبور میتوانید وارد شوید
                                </div>
                            }
                            <header><h1> تغییر رمز عبور </h1></header>
                            <div class="inner">

                                <div class="input-group">
                                    <span class="input-group-addon" id="email-address"><i class="zmdi zmdi-key"></i></span>
                                    <input asp-for="OldPassword" type="password" class="form-control" placeholder="رمز عبور فعلی" aria-describedby="email-address">
                                </div>
                                <span asp-validation-for="OldPassword" class="text-danger"></span>

                                <div class="input-group">
                                    <span class="input-group-addon" id="email-address"><i class="zmdi zmdi-lock"></i></span>
                                    <input asp-for="NewPassword" type="password" class="form-control" placeholder="رمز عبور جدید" aria-describedby="email-address">
                                </div>
                                <span asp-validation-for="NewPassword" class="text-danger"></span>

                                <div class="input-group">
                                    <span class="input-group-addon" id="email-address"><i class="zmdi zmdi-key"></i></span>
                                    <input asp-for="RepeatNewPassword" type="password" class="form-control" placeholder="تکرار رمز عبور جدید" aria-describedby="email-address">
                                </div>
                                <span asp-validation-for="RepeatNewPassword" class="text-danger"></span>

                                <div>
                                    <input type="submit" class="btn btn-success" value="تغییر رمز عبور" />
                                </div>
                            </div>
                        </section>
                    </div>
                </div>
            </form>
        </div>
    </div>
</main>

