@page "{episodeId}"
@model TopLearn.Pages.Admin.Courses.EditEpisodeModel
@{
    var isFree= Model.CourseEpisode.IsFree;
}

<h1>ویرایش اپیزود</h1>
<hr />
<div class="row">
    <form method="post" enctype="multipart/form-data">
        <div class="col-md-8">
            <input type="hidden" asp-for="CourseEpisode.CourseId" />
            <input type="hidden" asp-for="CourseEpisode.EpisodeId" />
            <input type="hidden" asp-for="CourseEpisode.EpisodeFileName" />
            <div class="form-group">
                <label>عنوان اپیزود</label>
                <input type="text" asp-for="CourseEpisode.EpisodeTitle" class="form-control">
                <span asp-validation-for="CourseEpisode.EpisodeTitle" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label>مدت زمان اپیزود</label>
                <input type="text" asp-for="CourseEpisode.EpisodeTime" class="form-control">
                <span asp-validation-for="CourseEpisode.EpisodeTime" class="text-danger"></span>

            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input id="checkBoxModel" onformchange="IsFreeChecker(@isFree)" type="checkbox"  asp-for="CourseEpisode.IsFree" >رایگان
                    </label>
                </div>
                <span asp-validation-for="CourseEpisode.IsFree" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label>فایل اپیزود</label>
                <input type="file" name="episodeFile">
                <p class="help-block">در صورت انتخاب فایل ،فایل قبلی این اپیزود بصورت خودکار حذف خواهد شد</p>
                <hr />
                @if (ViewData["ExistEpisode"] != null)
                {
                    <p class="text-danger">این فایل از قبل وجود دارد</p>
                }
            </div>
            <div>
                <input type="submit" value="ثبت دوره" class="btn btn-success" />
            </div>
        </div>
    </form>
</div>
<script>

    function IsFreeChecker(value) {
        if (value == true) {
            $('#checkBoxModel').prop("checked" = true);
        }
    }
</script>
