@model Tuple<List<ShowCoursesListItem>,int>
@{
    ViewData["Title"] = "Index";
}

@section SearchBox{
    <header>
        <a href="" class="logo"><img src="/images/logo.png"></a>
        <h1> با اساتید مجرب و کارآزموده در خودآموز تاپ لرن </h1>
        <h2> آموزش ببینید ، تجربه کسب کنید و بازار کار شوید </h2>
        <h3> با کمترین هزینه خودت یاد بگیر </h3>
    </header>
    <div class="search-form">
        <form action="/Course">
            <input type="text" name="filter" placeholder="چی دوست داری یاد بگیری ؟">
            <button><i class="zmdi zmdi-search"></i></button>
        </form>
    </div>
}
<main id="home-page">
    <div class="container">
        <section class="terms-items">
            <header>
                <h2> آخرین دوره های تاپ لرن </h2>
                <a href=""> مشاهده همه دوره ها </a>
            </header>
            <div class="row">
                <!-- col -->
                @foreach (var item in Model.Item1)
                {
                    <partial name="_BoxCourse" model="item" />
                }
            </div>
        </section>

        <hr>

        <section class="terms-items">
            <header>
                <h2> دوره های محبوب تاپ لرن </h2>
                <a href=""> مشاهده همه دوره ها </a>
            </header>
            @{ 
                List<ShowCoursesListItem> popular = ViewBag.PapularCourses as List<ShowCoursesListItem>;
            }
            <div class="row">
               @foreach (var item in popular)
               {
                   <partial name="_BoxCourse" model="item" />
               }
            </div>
        </section>
    </div>
</main>